*{
  box-sizing: border-box;
  padding: 0px;
  margin:0px;
}

body{
  background:linear-gradient(181deg, #b4b5b2 20%,  #e0e0de 71%, #747472 75%);
}

.layoutContainer{
  display:flex;
  flex-direction: column;

}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #272928;
  color:aliceblue;
  height: 80px;
  padding: 0px 20px;
  
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
 
  
}

.links{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}
.navItem{
  text-decoration: none;
  color:aliceblue;
  
  
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 2px;
  text-align: center;
  width: 150px;
  height: 60px;
  margin: 0px 3px 0px 3px;
  font-size: 22px;
  border-radius: 8px;
  
}

.navItem:hover {
  background-color: #93938f;
  color:black;
  border-radius: 8px;
 
  
}
 
.navItem li:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 20%;

}
.navItem li:hover::after {
  width: 120px;
  height: 2px;
  background-color: #090909;
}
.navItem li{
  position: relative;
  text-shadow: 0 0 15px #d5efb1;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

}

.iconMenu{
  
  margin: 5px 7px 0px 0px;
}
.navbarLeft{
  display:flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: center ;
  align-items: center ;
}
.relativeLanguageSelector{
  display:flex;
  flex-direction: row;
  margin:0px 5px 0px 8px;
  position:relative;
  width:95px;
  border:1px solid aliceblue;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
}
.cardsHomeContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 200px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  
}
.card:hover {
  transform: scale(1.1); /* Adjust the scale factor to control the zoom effect */
  transition: transform 0.2s ease; /* Adjust the transition duration as needed */
  z-index: 1

}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./icons/spinner.png"); 
  background-size: cover;
  background-position: center;
}
.quote {
  display: flex;
  flex-direction: column;
  width: 300px; 
  height: 100px; 
  background-color: #e1e5eb;
  margin-bottom: 25px;
  border-left: solid 7px #93938E;
  justify-content: center;
  align-items: center;
  padding:10px;
  border-radius: 8px;
  
  
}
.containerColumnForHomePage{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.backgroundHome{
  
  background-image: url("./icons/hamming.jpeg");
  background-size: cover;
  height: 900px;
  position: relative;  
} 
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.text {
  background-color: #606261;
  color: white;
  font-size: 2vw;
  padding: 16px 32px;
  opacity: 0.7;
  height: 900px;
  width: 100vw;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;


}
.backgroundCurs{
  
  
    background-image: url("./icons/alg2.jpeg");
    background-size: cover;
    height: 900px;
    position: relative;  
  } 

.backgroundHome:hover .middle {
  opacity: 1;
}


.introduction{
  
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  margin: 200px 0px 0px 0px;
  align-self: center;
}
.HammingCode1{
  background-color: rgb(213, 213, 213);
  color: black;
  font-size: 3vw; 
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  height: 30%;
  text-align: center;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(10, 10, 10, 0.9), inset 0 -2px 1px rgba(0,0,0,0.25);
    
  }
.HammingCode{
  background-color: rgb(223, 218, 218);
  color: black;
  font-size: 5vw; 
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 80%;
  height: 50%;
  text-align: center;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
  box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(10, 10, 10, 0.9), inset 0 -2px 1px rgba(0,0,0,0.25);
    
  }
  .text-block {
    height:100px;
    position: absolute;
    bottom: 40px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 30px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ShannonAndText{
    display: flex;
   
  }
  .ShannoPhoto{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-bottom: 40px;
  }
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  .takeNotescontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .createNotesContainer{

    display: flex;
    flex-direction: row;

  }
  .addNotesContainer{
    height:1000px;
    width:140px;
    background-color: #28384f;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
   
  }
  .addedNotesContainer{
    height: 1000px;
    width:1400px;
    background-color: #b1bbc9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    display:flex;
    justify-content: center;
    align-items: center;


  }
  .addColorsForNotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 px;
  }

  .hide-colors {
    display: none;
  }
  .show-colors {
    opacity: 1;
  }
.note-component{
 height:900px;
 width:1200px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}
.introductionParagraphsStyle{
  padding:30px;
  margin: 10px 0px 0px 0px;
}
.introductionAnimation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.introductionQuestion{
  position: relative;
  color: rgb(67, 68, 70);
  font-weight: bold!important;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 3px!important;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(100) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
  width: 1300px;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 1200px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

.containerLecture{
  display: flex;
  flex-direction: column;
  /* margin: 50px 25px; */
  
}
.biggerLetter{
  font-size: 20px;
}
.smallerLetter{
  font-size: 12px;
}
.information{
  color:red;

}
.control{
 color:blue;
}
.dimensionareContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  width: 700px;
  height: 800px;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  align-self: center;
  background-color: #F7FAFB;

}
.flashcard {
  width: 300px;
  height: 80px;
  perspective: 1000px;
  margin: 25px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.flashcard .front {
  background-color: #cbd2d6;
  transform: rotateY(0deg);
  text-align: center;
}

.flashcard .back {
  background-color: #b8c6cd;
  transform: rotateY(180deg);
  color: #000;
  text-align: center;
}

.flashcard.flipped .front {
  transform: rotateY(180deg);
}

.flashcard.flipped .back {
  transform: rotateY(0deg);
}
.obs{
  color: transparent;
  background-position: right;
  background-size: 100% 100%;
  background-image: linear-gradient(#e6f428, #f3f332);
  display: inline;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
  font-weight: bold;
}
.obs:hover {
  color: #000;
  background-size: 0% 100%;
}



.flashCard {
  width: 600px;
  height: 700px;
  perspective: 1000px;
  margin: 25px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.flashCard div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.flashCard .Front {
  background-color: #cbd2d6;
  transform: rotateY(0deg);
  text-align: center;
}

.flashCard .Back {
  background-color: #b8c6cd;
  transform: rotateY(180deg);
  color: #000;
  text-align: center;
}

.flashCard.Flipped .Front {
  transform: rotateY(180deg);
}

.flashCard.Flipped .Back {
  transform: rotateY(0deg);
}
.DimensionareContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  width: 1800px;
  height: 1200px;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  align-self: center;
  background-color: #F7FAFB;
  padding:25px;


}
ul li {
  list-style: square;
}
.listCoDec li{
  padding: 10px;

}
ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
}

ul {
  background: #B8C6CD;
  padding: 20px;
}

.titluriLec»õii li{
 font-size: 24px;
 padding: 10px;
 margin-top: 10px;

}
.cuprinsContainer{
  align-self: center;
  margin-top: 50px;
}
a{
  text-decoration: none;
  color:#000;

}

a:nth-child(1):hover{
  color:#4285F5;
}
.hoverchild2:hover{
  color:#f5ab3d;
}
.hoverchild3:hover{
  color:#31A853;
}
.codareAlgebricaContainer{
  
  width: 1600px;
  height: 1000px;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  align-self: center;
  background-color: #F7FAFB;
  font-size: 18px;
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.codareAlgebricaContainer div{
  padding:5px;
  margin-top: 3px;

}


.CesuntRDR{

  width: 1600px;
  height:1000px;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  background-color: #F7FAFB;
  font-size: 18px;
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  padding: 25px;

}
.CesuntRDR div{
  padding: 5px;
  margin-top: 3px;

 
}
.aplicatiiRDR ul {
  background-color: rgb(231, 244, 235);
  border-radius: 8px;
  border: 2px solid grey
}
.aplicatiiRDR ul li {
    background: none;
    color: rgb(11, 11, 11);
    margin: 5px;
  
}
.functionarerdr ul{
  background-color: rgb(231, 244, 235);
  border-radius: 8px;
  border: 2px solid grey

}
.functionarerdr ul li{
  background: none;
    color: rgb(11, 11, 11);
    margin: 5px;
}
.defrdr ul{
  background-color: rgb(231, 244, 235);
  border-radius: 8px;
  border: 2px solid grey

}
.defrdr ul li{
  background: none;
  color: rgb(11, 11, 11);
  margin: 5px;
}

.formulapoly{
  background-color: rgb(240, 246, 240);
  border: 2px solid rgb(236, 16, 16);
  width:500px;
  height:40px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; 
}

.formulapolygen{
  background-color: rgb(240, 246, 240);
  border: 2px solid rgb(236, 16, 16);
  width:800px;
  height:40px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.decodare ul{
  background-color: rgb(231, 244, 235);
  border-radius: 8px;
  border: 2px solid grey
}
.decodare ul li{
  background: none;
  color: rgb(11, 11, 11);
  margin: 5px;
}

#scrollMessage {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 999;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to right,#c0e49b 20%, #15191b 40%, #414241 70%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3.5s linear infinite;
  display: inline-block;
}
.buttonCONGRATS{
  color: #000
}


.contentPage{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MeniuLab{
 
  background-color:#9BAFB5;
  width:1700px;
  height:1700px;
  border:solid 3px #000;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#000;
  margin-top: 50px;
  box-shadow: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);

  
}
.submenu{
  
  height:700px;
  width:900px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);
  
  border: 5px solid #000;
  

}
.buttonSubmenu{
  background-color: #000;
  color:aliceblue;

}
.MeniuLab h1{
  text-align: center;
}
.alegePolinom{
  width:1400px;
  height: 1600px;
  font-size: 30px;
  justify-content: center;
  align-items:center;
 
  font-weight: 500;
}
.labelBiti{
  font-size: 25px;
  font-weight: 800;
}
.inputBiti{
  text-align: center;
  padding:10px;
  width:200px;
  height:40px;
  font-size: 35px;
  background-color: #e0e0de;
  color: #000;
  border-radius: 15px;
  margin-top: 10px;
  outline: yellow;
  border: 2px solid #FDC87E;


}
.aboutLayout{
  padding: 50px;
  height: 100vh;
  width: 100vw;
  background-image: url("./icons/backgroudAbout.jpeg");
  background-size: cover;
  display:flex;
  justify-content: space-around;
  
  
}
.continutAbout{
  padding:"100px";
  background-color:#05050559;
  width: 1200px;
  height: 720px;
  opacity: 0.6;
  font-size: 12px;
  color: #000;
  padding:25px;
  transition: width 1s, height 2s;
}
.continutAbout:hover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:"100px";
  background-color:#5d7dce59;
  width: 1400px;
  height: 820px;
  opacity: 0.6;
  font-size: 12px;
  color: #000;
  padding:25px;
  
}
.transmisia{
  font-size: 20px;
  margin-top:10px;
  font-weight: 900px;
 

}
.titleApplication{
  border: 2px solid #000;
  box-shadow: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);
}
.phoneButton{
  display: inline-block;
  height: 300px;
  width:750px;
  
}
.positionedButton{
  position: relative;
  bottom: 285px;
  left: 320px;
  background-color: #0a0b0b;


}
.positionedButton:hover{
  background-color: #EAB142;
}
.mapButtons{
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 550px 1000px 0px 0px;
  
}
.positionedButton1{
  position: relative;
  bottom: 430px;
  left: 50px;
  background-color: #b4e5e5;


}
.positionedButton1:hover{
  background-color: #EAB142;
}
.positionedButton2{
  position: relative;
  bottom: 295px;
  left: 100px;
  background-color: #868fd3;


}
.positionedButton2:hover{
  background-color: #EAB142;
}
.positionedButton3{
  position: relative;
  bottom: 285px;
  left: 200px;
  background-color: #bf8ab0;


}
.positionedButton3:hover{
  background-color: #EAB142;
}
.time{
  position:relative;
 bottom:1050px;
 left:450px;
}
.backgroundQuiz{
  background-image: url("./icons/startquizbackground.jpg");
  background-size: cover;
  background-position: center;
  width:100%;
  height:100%;
}
.test{
   
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  height:1300px;
  color:aliceblue; 


}
.quizQA{
  width: 1100px;
  height: 950px;
  box-shadow: 0 26px 58px 0 rgba(218, 209, 209, 0.22), 0 5px 14px 0 rgba(216, 211, 211, 0.18);

}
.scorCercle{
  height:90px;
  width:90px;
  border-radius: 50%;
  background-color: #868fd3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:#000;
  background-color:#7ECEED;
  opacity: 0.8;
 
}

.scornextButton{
  
   display: flex;
   justify-content: space-between;
   margin: 100px 25px 0px 25px;
   
}
.solution{
  height:150px;
}
.finalQuiz{
  display:flex;
  flex-direction: column;
  height:950px;
  align-items: center;

}
