*{
  box-sizing: border-box;
  padding: 0px;
  margin:0px;
}

body{
  background-color: #edeff2;
}
.layoutContainer{
  display:flex;
  flex-direction: column;

}
/* .contentPage{
  flex:1;

} */
.links{
  display:flex;
  flex-direction: row;
  justify-content: center;

}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #272928;
  color:aliceblue;
  height: 100%;
  padding: 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.navItem{
  text-decoration: none;
  color:aliceblue;
  padding:20px 12px 0px 0px ;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 2px;
  text-align: center;
}
.navItem:hover {
  background-color: #93938f;
  color:black
}

.iconMenu{
  padding: 16px 1px 0 0;
}
.navbarLeft{
  display:flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: center ;
  align-items: center ;
}
.cardsHomeContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 200px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  
}
.card:hover {
  transform: scale(1.1); /* Adjust the scale factor to control the zoom effect */
  transition: transform 0.2s ease; /* Adjust the transition duration as needed */
  z-index: 1

}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./icons/spinner.png"); 
  background-size: cover;
  background-position: center;
}
.quote {
  display: flex;
  flex-direction: column;
  width: 300px; /* Set a fixed width */
  height: 100px; /* Set a fixed height */
  background-color: #e1e5eb;
  margin-bottom: 25px;
  border-left: solid 7px #93938E;
  justify-content: center;
  align-items: center;
  padding:10px;
  border-radius: 8px;
  
  
}
.containerColumnForHomePage{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.backgroundHome{
  background: radial-gradient(#656870, #c0c9d1);
  background-size: cover;
  background-position: center;
  height: 600px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
} 
.introduction{
  
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  margin: 200px 0px 0px 0px;
  align-self: center;
}
.HammingCode{
 
     
      color: #fff;
      font-size: 92px;
      text-transform: uppercase;
      font-weight: 700;
      font-family: "Josefin Sans", sans-serif;
      background: linear-gradient(to right,#c0e49b 20%, #15191b 40%, #414241 70%);
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 3.5s linear infinite;
      display: inline-block;
    
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  .takeNotescontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .createNotesContainer{

    display: flex;
    flex-direction: row;

  }
  .addNotesContainer{
    height:1000px;
    width:140px;
    background-color: #28384f;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
   
  }
  .addedNotesContainer{
    height: 1000px;
    width:1400px;
    background-color: #b1bbc9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    display:flex;
    justify-content: center;
    align-items: center;


  }
  .addColorsForNotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 px;
  }

  .hide-colors {
    display: none;
  }
  .show-colors {
    opacity: 1;
  }
.note-component{
 height:900px;
 width:1200px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}
.introductionParagraphsStyle{
  padding:30px;
  margin: 10px 0px 0px 0px;
}
.introductionAnimation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introductionQuestion{
  position: relative;
  color: rgb(67, 68, 70);
  font-weight: bold!important;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 3px!important;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(100) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
  width: 1200px;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 1200px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

.containerLecture{
  display: flex;
  flex-direction: column;
  margin: 50px 25px;
  
}
.biggerLetter{
  font-size: 20px;
}
.smallerLetter{
  font-size: 12px;
}
.information{
  color:red;

}
.control{
 color:blue;
}
.dimensionareContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  width: 700px;
  height: 800px;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  align-self: center;
  background-color: #F7FAFB;

}
.flashcard {
  width: 300px;
  height: 80px;
  perspective: 1000px;
  margin: 25px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcard div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.flashcard .front {
  background-color: #cbd2d6;
  transform: rotateY(0deg);
  text-align: center;
}

.flashcard .back {
  background-color: #b8c6cd;
  transform: rotateY(180deg);
  color: #000;
  text-align: center;
}

.flashcard.flipped .front {
  transform: rotateY(180deg);
}

.flashcard.flipped .back {
  transform: rotateY(0deg);
}
.obs{
  color: transparent;
  background-position: right;
  background-size: 100% 100%;
  background-image: linear-gradient(#e6f428, #f3f332);
  display: inline;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
  font-weight: bold;
}
.obs:hover {
  color: #000;
  background-size: 0% 100%;
}



.flashCard {
  width: 600px;
  height: 700px;
  perspective: 1000px;
  margin: 25px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.flashCard div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.flashCard .Front {
  background-color: #cbd2d6;
  transform: rotateY(0deg);
  text-align: center;
}

.flashCard .Back {
  background-color: #b8c6cd;
  transform: rotateY(180deg);
  color: #000;
  text-align: center;
}

.flashCard.Flipped .Front {
  transform: rotateY(180deg);
}

.flashCard.Flipped .Back {
  transform: rotateY(0deg);
}
.DimensionareContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  width: 1800px;
  height: 1200px;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  align-self: center;
  background-color: #F7FAFB;
  padding:25px;


}
ul li {
  list-style: square;
}
.listCoDec li{
  padding: 10px;

}
ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
}

ul {
  background: #B8C6CD;
  padding: 20px;
}

.titluriLec»õii li{
 font-size: 24px;
 padding: 10px;
 margin-top: 10px;

}
.cuprinsContainer{
  align-self: center;
  margin-top: 50px;
}
a{
  text-decoration: none;
  color:#000;

}
a:hover{
  color: #555592
}
.codareAlgebricaContainer{
  
  width: 1600px;
  height: 1000px;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  align-self: center;
  background-color: #F7FAFB;
  font-size: 18px;
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.codareAlgebricaContainer div{
  padding:5px;
  margin-top: 3px;

}


.CesuntRDR{

  width: 1600px;
  height:1000px;
  box-shadow:rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  background-color: #F7FAFB;
  font-size: 18px;
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  padding: 25px;

}
.CesuntRDR div{
  padding: 5px;
  margin-top: 3px;

 
}
.aplicatiiRDR ul {
  background-color: rgb(231, 244, 235);
  border-radius: 8px;
  border: 2px solid grey
}
.aplicatiiRDR ul li {
    background: none;
    color: rgb(11, 11, 11);
    margin: 5px;
  
}
.functionarerdr ul{
  background-color: rgb(231, 244, 235);
  border-radius: 8px;
  border: 2px solid grey

}
.functionarerdr ul li{
  background: none;
    color: rgb(11, 11, 11);
    margin: 5px;
}
.defrdr ul{
  background-color: rgb(231, 244, 235);
  border-radius: 8px;
  border: 2px solid grey

}
.defrdr ul li{
  background: none;
  color: rgb(11, 11, 11);
  margin: 5px;
}

.formulapoly{
  background-color: rgb(240, 246, 240);
  border: 2px solid rgb(236, 16, 16);
  width:500px;
  height:40px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  
}
.formulapolygen{
  background-color: rgb(240, 246, 240);
  border: 2px solid rgb(236, 16, 16);
  width:800px;
  height:40px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.decodare ul{
  background-color: rgb(231, 244, 235);
  border-radius: 8px;
  border: 2px solid grey
}
.decodare ul li{
  background: none;
  color: rgb(11, 11, 11);
  margin: 5px;
  
}
#scrollMessage {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
 
  color: #000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 999;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to right,#c0e49b 20%, #15191b 40%, #414241 70%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3.5s linear infinite;
  display: inline-block;
}
.buttonCONGRATS{
  color: #000
}


.contentPage{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MeniuLab{
 
  background-color:#dfdae3;
  width:1600px;
  height:1200px;
  border:solid 3px #000;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#000;
  margin-top: 50px;
  box-shadow: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);

  
}
.submenu{
  
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  


}
.buttonSubmenu{
  background-color: #000;
  color:aliceblue;

}
.MeniuLab h1{
  text-align: center;
}
.alegePolinom{
  width:1500px;
  height: 800px;
  font-size: 30px;
  justify-content: start;
  align-items: end;
  font-weight: 500;
}